/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('../image/fundo.jpg');
    background-size: cover;
    overflow-y: auto;
    box-sizing: border-box;
}


/* Estilos para o formulário */
.box {
    width: 90%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    height: auto;
}

.formulario {
    text-align: center;
}

.titulo {
    margin-bottom: 20px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

.input-box {
    margin-bottom: 15px;
}

input[type='text'] {
    width: calc(100% - 20px);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type='text']:focus {
    border-color: #007bff;
}

input[type='submit'] {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type='submit']:hover {
    background-color: #0056b3;
}

/* Estilos para o checkbox */
.form-check {
    margin-bottom: 10px;
}

/* Estilos para o acordeão */
.accordion-button {
    background-color: #007bff;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
    outline: none;
    transition: background-color 0.3s ease;
}

.accordion-button:hover {
    background-color: #0056b3;
}

.accordion-collapse {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 8px;
}

/* Estilos para o modal */
.modal-content {
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #333;
    font-size: 24px;
}

.modal-footer .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 8px;
    transition: background-color 0.3s ease;

}

.modal-footer .btn-primary:hover {
    background-color: #0056b3;

}


.titulo_proc {
    font-weight: 800;
    margin-bottom: 15px;
}

.accordion-button {
    font-weight: 800;


}



/* --------------------------------- CALENDARIO */




/* Estilos para o DatePicker */
.flatpickr-calendar {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flatpickr-day {
    border-radius: 50%;
}

.flatpickr-monthDropdown-months, .flatpickr-yearDropdown-years {
    background-color: #007bff;
    color: #fff;
}

.flatpickr-prev-month, .flatpickr-next-month, .flatpickr-prev-year, .flatpickr-next-year {
    color: #007bff;
}

.flatpickr-current-month, .flatpickr-current-year {
    color: #333;
}

.flatpickr-day.today {
    background-color: #007bff;
    color: #fff;
}

.flatpickr-day.selected {
    background-color: #0056b3;
    color: #fff;
}

.flatpickr-day.selected:hover {
    background-color: #004080;
}

.flatpickr-weekdays {
    background-color: #f0f0f0;
    border-bottom: 1px solid #ddd;
}

.flatpickr-weekday {
    color: #333;
}

.flatpickr-day.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

/* Estilos para o botão do DatePicker */
.flatpickr-calendar.open {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.flatpickr-input {
    width: calc(100% - 20px);
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

.flatpickr-input:focus {
    border-color: #007bff;
}




/* --------------------------- PROCEDIMENTOS */

.form-check {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


input[type="checkbox"] {
    border: 2px solid red;
}

.price {
    margin-left: auto;
}