/* Estilos personalizados */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;


}




/* ----------------  BOTÃO TOPO */

#btnTopModal {

  position: fixed;
  bottom: 10px;
  right: 10px;

}


/* ---------------------- FORMULÁRIO */



/* input::placeholder {
  color: #000000;
} */


























/* -----------   TAMANHO DA TELA */