.borda {
    border: 2px solid red;
}

.borda2 {
    border: 2px solid rgb(240, 243, 38);
}

.borda3 {
    border: 2px solid rgb(143, 230, 50);
}

.borda4 {
    border: 2px solid rgb(54, 238, 255);
}

.borda5 {
    border: 2px solid rgb(16, 64, 255);
}

.borda6 {
    border: 2px solid rgb(221, 0, 255);
}

.borda7 {
    border: 2px solid rgb(228, 123, 38);
}


/* ---------------------------- ESTILO DO FORMULÁRIO */


body {
    background-image: "../image";
    background: radial-gradient(circle, rgb(252, 246, 246), rgba(219, 0, 0, 0), rgb(251, 251, 130));
}


.title-form h1 {

    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 1.5em;
    padding-bottom: 15px;
    position: relative;
    color: #000000;
    font-family: 'caviar dreams';

}


.box-formulario {

    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 60px 0;

}

form {
    display: flex;
    justify-content: center;
    align-content: center;
}

.formulario {

    width: 75%;
    background-color: rgba(188, 188, 188, 0.2);
    padding: 5% 5%;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}


.formulario span {
    position: relative;
    display: flex;
    margin: 20px 10px;

}

/* ------------------------------------------ input Animado*/

.input-slide {

    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 40px;
    font-family: "arial";
    font-size: 23px;
    font-weight: 600;
    color: #d2d2d2;
    background: #ffffff;
    border: 0;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;

}

.input-slide::-webkit-input-placeholder {

    color: #4c4e4e;
    font-weight: 600;

}

.input-slide+label {

    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 7px 12px;
    font-size: 33px;
    font-weight: 900;
    /* border-right: 1px #5a5a5a solid; */
    background: black;
    color: #ffffff;
    text-align: left;
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

}

.input-slide+label:after {

    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #e8f22a;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.input-slide:focus,
.input-slidev:active {

    color: #4e4e4c;
    background: #ffffff;
    padding: 10px 0 10px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.input-slide:focus::-webkit-input-placeholder,
.input-slide:active::-webkit-input-placeholder {

    color: #aaa;

}

.input-slide:focus+label,
.input-slide:active+label {

    color: #fff;
    transform: translateX(-100%);

}

.input-slide:focus+label:after,
.input-slide:active+label:after {

    background: #eeff36;
    transform: translate(100%);

}

/* ---------------------------------------------- TextArea*/

.textarea-slide {

    position: relative;
    display: inline-block;
    width: 100%;
    padding: 10px 0 10px 40px;
    font-family: "arial";
    font-size: 23px;
    font-weight: 400;
    color: #d2d2d2;
    background: #ffffff;
    border: 0;
    resize: none;
    border-radius: 3px;
    outline: 0;
    transition: all .3s ease-in-out;

}

.textarea-slide::-webkit-input-placeholder {

    color: #4e4e4c;
    font-weight: 600;

}

.textarea-slide+label {

    display: inline-block;
    position: absolute;
    transform: translateX(0);
    top: 0;
    left: 0;
    bottom: 0;
    padding: 7px 12px;
    font-size: 33px;
    font-weight: 700;
    text-transform: uppercase;
    background: black;
    color: #fff34e;
    text-align: left;
    transition: all .3s ease-in-out, color .3s ease-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;

}

.textarea-slide+label:after {

    content: "";
    position: absolute;
    top: 0;
    right: 100%;
    bottom: 0;
    width: 100%;
    background: #dfe0cc;
    z-index: -1;
    transform: translate(0);
    transition: all .3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

}

.textarea-slide:focus,
.textarea-slide:active {

    color: #777777;
    background: #ffffff;
    padding: 10px 0 10px 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

}

.textarea-slide:focus::-webkit-input-placeholder,
.textarea-slide:active::-webkit-input-placeholder {

    color: #aaa;

}

.textarea-slide:focus+label,
.textarea-slide:active+label {

    color: #fff;
    transform: translateX(-100%);

}

.textarea-slide:focus+label:after,
.textarea-slide:active+label:after {

    background: #fbff21;
    transform: translate(100%);

}

/* --------------------------------------- Botão enviar*/

.box-btn {

    width: 100%;
    float: left;

}

.btn-envia {

    padding: 15px;
    cursor: pointer;
    border: none;
    background-color: #fbff21;
    text-decoration: none;
    font-weight: 900;
    font-size: 25px;
    color: #000000;
    border-radius: 10px;
    width: 80%;

}

.zoom-shadow {

    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

}

.zoom-shadow:hover, .zoom-shadow:focus, .zoom-shadow:active {

    box-shadow: 0 13px 8px -8px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.05);
    transform: scale(1.05);

}



input[type="date"] {
    appearance: none;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    outline: none;
    font-family: Arial, sans-serif;
    font-size: 25px;
    color: #333;
    width: 100%;
}